## Overview

My objective here is to see where we are spending the most and predict what we will be spending in the future so that we can budget better moving forward. Eventually, there me be a 'Lab Budget' that we can work with in the future.

I plan to utilize a few visualization methods to show our spending habits here in the lab. The overall goal is to clean the data to a point were I can run a few machine learning models. After that, I will test the models on the test data and gridsearch the best hyperparamaters in order to regularize the model ensuring the most accurate results. 

I have data from both Sigma and VWR. Sigma has a better operation that allowed me to download a .csv file with all the purchase history. Whereas, I was not so lucky with the purchase history from VWR. I had to enter that data by hand, there wasn't even the option to copy and paste which was unfortunate and time consuming.

### Getting the Data

In [1]:
# Standard libraries
import pandas as pd
import numpy as np

In [2]:
# Import data from Sigma as .csv
sigma = pd.read_csv('Sigma.csv')
vwr = pd.read_csv('VWR.csv')

In [3]:
# Looking at the Sigma data
sigma.head()

,Order,Status,Created,PO Number,Order Type,Ordered By,Total
0,3032198486,Completed,"Sep 29, 2023",929202301.0,MilliporeSigma,David Knaus,$304.34
1,3031993778,Completed,"Aug 23, 2023",8232301.0,MilliporeSigma,David Knaus,$142.05
2,3031921970,Completed,"Aug 9, 2023",8092301.0,MilliporeSigma,David Knaus,$284.58
3,3031054053,Completed,"Mar 9, 2023",309202301.0,MilliporeSigma,David Knaus,$723.86
4,3031037215,Completed,"Mar 7, 2023",3072301.0,MilliporeSigma,David Knaus,$221.48

In [4]:
# Looking at the VWR data
vwr.head()

,data,order_number,order_method,web_tracking_number,po_number,total,order_status
0,11/21/23,8368794427,web,W34696434,1121202301,"$1,635.69",cs
1,09/18/23,8368438336,web,W34696238,918202302,"$3,916.88",ps
2,08/18/23,8368280892,web,W3348823,818202301,$95.55,cs
3,08/11/23,8368237792,web,W33229647,8112301,$932.95,cs
4,07/31/23,8368169335,web,W33045036,7312302,"$8,439.41",cs

### Cleaning Sigma Data

I want to add a prefix to the order numbers for each column in each dataset. This will help me better identify the company in which the order was placed later on when I merge the datasets.

In [5]:
acronym = 'sig' # Assign the acronym 'sig' for Sigma

# Assign the acronym as the prefix to 'Order' which is the order number
sigma['Order'] = acronym + '_' + sigma['Order'].astype(str)

In [6]:
# Check the data to ensure the code worked
sigma

,Order,Status,Created,PO Number,Order Type,Ordered By,Total
0,sig_3032198486,Completed,"Sep 29, 2023",929202301.0,MilliporeSigma,David Knaus,$304.34
1,sig_3031993778,Completed,"Aug 23, 2023",8232301.0,MilliporeSigma,David Knaus,$142.05
2,sig_3031921970,Completed,"Aug 9, 2023",8092301.0,MilliporeSigma,David Knaus,$284.58
3,sig_3031054053,Completed,"Mar 9, 2023",309202301.0,MilliporeSigma,David Knaus,$723.86
4,sig_3031037215,Completed,"Mar 7, 2023",3072301.0,MilliporeSigma,David Knaus,$221.48
5,sig_3030928639,Completed,"Feb 16, 2023",316202301.0,MilliporeSigma,David Knaus,"$1,045.35"
6,sig_3030151533,Completed,"Sep 28, 2022",928202201.0,MilliporeSigma,David Knaus,$193.92
7,sig_3030040819,Completed,"Sep 9, 2022",9092203.0,MilliporeSigma,David Knaus,$418.34
8,sig_3030040710,Completed,"Sep 9, 2022",9092202.0,MilliporeSigma,David Knaus,$460.67
9,sig_3029852827,Completed,"Aug 9, 2022",8092201.0,MilliporeSigma,David Knaus,$216.91
10,sig_3029648145,Completed,"Jul 6, 2022",7062202.0,MilliporeSigma,David Knaus,$425.34
11,sig_3029546532,Completed,"Jun 18, 2022",6172201.0,MilliporeSigma,David Knaus,$223.91
12,sig_3029360578,Completed,"May 18, 2022",5182201.0,MilliporeSigma,David Knaus,$174.22
13,sig_3029157283,Completed,"Apr 14, 2022",4112202.0,MilliporeSigma,David Knaus,$645.02
14,sig_3029140490,Completed,"Apr 12, 2022",4122201.0,MilliporeSigma,David Knaus,$645.02
15,sig_3029063595,Completed,"Mar 30, 2022",3302203.0,MilliporeSigma,David Knaus,$104.37
16,sig_3028905309,Completed,"Mar 7, 2022",3072201.0,MilliporeSigma,David Knaus,$388.93
17,sig_3028517014,Completed,"Jan 6, 2022",152202.0,MilliporeSigma,David Knaus,$70.85
18,sig_3028277766,Completed,"Nov 17, 2021",11162103.0,MilliporeSigma,David Knaus,$831.99
19,sig_3028120023,Completed,"Oct 22, 2021",10222102.0,MilliporeSigma,David Knaus,"$1,359.49"
20,sig_3027622349,Completed,"Aug 3, 2021",8032101.0,MilliporeSigma,David Knaus,$107.36
21,sig_3027370380,Completed,"Jun 23, 2021",6232102.0,MilliporeSigma,David Knaus,$853.65
22,sig_3027008564,Completed,"Apr 27, 2021",NaN,MilliporeSigma,David Knaus,-$1.00
23,sig_3026897713,Completed,"Apr 9, 2021",NaN,MilliporeSigma,David Knaus,-$1.00
24,sig_3026679572,Completed,"Mar 8, 2021",NaN,MilliporeSigma,David Knaus,-$1.00
25,sig_3026397135,Completed,"Jan 25, 2021",NaN,MilliporeSigma,David Knaus,-$1.00
26,sig_3025441721,Completed,"Aug 15, 2020",NaN,MilliporeSigma,David Knaus,-$1.00
27,sig_3025369246,Completed,"Aug 3, 2020",NaN,MilliporeSigma,David Knaus,-$1.00

In [7]:
# Check for missing data
sigma.isna().sum()

Order         0
Status        0
Created       0
PO Number     6
Order Type    0
Ordered By    0
Total         0
dtype: int64

It appears there are a total of six orders from the data that are missing POs. NaN values will make it difficult to run a machine-learning model on the data. There are a few regression models that will run the data with NaN values, however, I want to clean that up. Since the column `Total` shows a value of `-$1.00` for the value on the NaN POs, I will drop those rows.

In [8]:
# Drop NaN from Sigma dataset
sigma.dropna(inplace=True)
sigma # Show the drop has occured

,Order,Status,Created,PO Number,Order Type,Ordered By,Total
0,sig_3032198486,Completed,"Sep 29, 2023",929202301.0,MilliporeSigma,David Knaus,$304.34
1,sig_3031993778,Completed,"Aug 23, 2023",8232301.0,MilliporeSigma,David Knaus,$142.05
2,sig_3031921970,Completed,"Aug 9, 2023",8092301.0,MilliporeSigma,David Knaus,$284.58
3,sig_3031054053,Completed,"Mar 9, 2023",309202301.0,MilliporeSigma,David Knaus,$723.86
4,sig_3031037215,Completed,"Mar 7, 2023",3072301.0,MilliporeSigma,David Knaus,$221.48
5,sig_3030928639,Completed,"Feb 16, 2023",316202301.0,MilliporeSigma,David Knaus,"$1,045.35"
6,sig_3030151533,Completed,"Sep 28, 2022",928202201.0,MilliporeSigma,David Knaus,$193.92
7,sig_3030040819,Completed,"Sep 9, 2022",9092203.0,MilliporeSigma,David Knaus,$418.34
8,sig_3030040710,Completed,"Sep 9, 2022",9092202.0,MilliporeSigma,David Knaus,$460.67
9,sig_3029852827,Completed,"Aug 9, 2022",8092201.0,MilliporeSigma,David Knaus,$216.91
10,sig_3029648145,Completed,"Jul 6, 2022",7062202.0,MilliporeSigma,David Knaus,$425.34
11,sig_3029546532,Completed,"Jun 18, 2022",6172201.0,MilliporeSigma,David Knaus,$223.91
12,sig_3029360578,Completed,"May 18, 2022",5182201.0,MilliporeSigma,David Knaus,$174.22
13,sig_3029157283,Completed,"Apr 14, 2022",4112202.0,MilliporeSigma,David Knaus,$645.02
14,sig_3029140490,Completed,"Apr 12, 2022",4122201.0,MilliporeSigma,David Knaus,$645.02
15,sig_3029063595,Completed,"Mar 30, 2022",3302203.0,MilliporeSigma,David Knaus,$104.37
16,sig_3028905309,Completed,"Mar 7, 2022",3072201.0,MilliporeSigma,David Knaus,$388.93
17,sig_3028517014,Completed,"Jan 6, 2022",152202.0,MilliporeSigma,David Knaus,$70.85
18,sig_3028277766,Completed,"Nov 17, 2021",11162103.0,MilliporeSigma,David Knaus,$831.99
19,sig_3028120023,Completed,"Oct 22, 2021",10222102.0,MilliporeSigma,David Knaus,"$1,359.49"
20,sig_3027622349,Completed,"Aug 3, 2021",8032101.0,MilliporeSigma,David Knaus,$107.36
21,sig_3027370380,Completed,"Jun 23, 2021",6232102.0,MilliporeSigma,David Knaus,$853.65

In order to make the merge easier, I need to make the column names more agreable. For that I am changing the `Created` column to `date`; `Order` to `order_number`; `Status` to `order_status`; `PO Number` to `po_number`; `Total` to `total`. This will allow me to merge the datasets on top of eachother.

In [9]:
# Rename columns in sigma dataset
sigma.rename(columns={
    'Created':'date',
    'Order':'order_number',
    'Status':'order_status',
    'PO Number':'po_number',
    'Total':'total'
}, inplace=True)

In [10]:
# Confirm column name changes
sigma

,order_number,order_status,date,po_number,Order Type,Ordered By,total
0,sig_3032198486,Completed,"Sep 29, 2023",929202301.0,MilliporeSigma,David Knaus,$304.34
1,sig_3031993778,Completed,"Aug 23, 2023",8232301.0,MilliporeSigma,David Knaus,$142.05
2,sig_3031921970,Completed,"Aug 9, 2023",8092301.0,MilliporeSigma,David Knaus,$284.58
3,sig_3031054053,Completed,"Mar 9, 2023",309202301.0,MilliporeSigma,David Knaus,$723.86
4,sig_3031037215,Completed,"Mar 7, 2023",3072301.0,MilliporeSigma,David Knaus,$221.48
5,sig_3030928639,Completed,"Feb 16, 2023",316202301.0,MilliporeSigma,David Knaus,"$1,045.35"
6,sig_3030151533,Completed,"Sep 28, 2022",928202201.0,MilliporeSigma,David Knaus,$193.92
7,sig_3030040819,Completed,"Sep 9, 2022",9092203.0,MilliporeSigma,David Knaus,$418.34
8,sig_3030040710,Completed,"Sep 9, 2022",9092202.0,MilliporeSigma,David Knaus,$460.67
9,sig_3029852827,Completed,"Aug 9, 2022",8092201.0,MilliporeSigma,David Knaus,$216.91
10,sig_3029648145,Completed,"Jul 6, 2022",7062202.0,MilliporeSigma,David Knaus,$425.34
11,sig_3029546532,Completed,"Jun 18, 2022",6172201.0,MilliporeSigma,David Knaus,$223.91
12,sig_3029360578,Completed,"May 18, 2022",5182201.0,MilliporeSigma,David Knaus,$174.22
13,sig_3029157283,Completed,"Apr 14, 2022",4112202.0,MilliporeSigma,David Knaus,$645.02
14,sig_3029140490,Completed,"Apr 12, 2022",4122201.0,MilliporeSigma,David Knaus,$645.02
15,sig_3029063595,Completed,"Mar 30, 2022",3302203.0,MilliporeSigma,David Knaus,$104.37
16,sig_3028905309,Completed,"Mar 7, 2022",3072201.0,MilliporeSigma,David Knaus,$388.93
17,sig_3028517014,Completed,"Jan 6, 2022",152202.0,MilliporeSigma,David Knaus,$70.85
18,sig_3028277766,Completed,"Nov 17, 2021",11162103.0,MilliporeSigma,David Knaus,$831.99
19,sig_3028120023,Completed,"Oct 22, 2021",10222102.0,MilliporeSigma,David Knaus,"$1,359.49"
20,sig_3027622349,Completed,"Aug 3, 2021",8032101.0,MilliporeSigma,David Knaus,$107.36
21,sig_3027370380,Completed,"Jun 23, 2021",6232102.0,MilliporeSigma,David Knaus,$853.65

The next thing that I want to do is drop the columns that are of no use to me: `Order Type` and `Ordered By`.

In [11]:
# Using .drop() function to drop the columns
sigma.drop(['Order Type','Ordered By'], axis=1, inplace=True)

In [12]:
# Verify column drop
sigma

      order_number order_status          date    po_number      total
0   sig_3032198486    Completed  Sep 29, 2023  929202301.0    $304.34
1   sig_3031993778    Completed  Aug 23, 2023    8232301.0    $142.05
2   sig_3031921970    Completed   Aug 9, 2023    8092301.0    $284.58
3   sig_3031054053    Completed   Mar 9, 2023  309202301.0    $723.86
4   sig_3031037215    Completed   Mar 7, 2023    3072301.0    $221.48
5   sig_3030928639    Completed  Feb 16, 2023  316202301.0  $1,045.35
6   sig_3030151533    Completed  Sep 28, 2022  928202201.0    $193.92
7   sig_3030040819    Completed   Sep 9, 2022    9092203.0    $418.34
8   sig_3030040710    Completed   Sep 9, 2022    9092202.0    $460.67
9   sig_3029852827    Completed   Aug 9, 2022    8092201.0    $216.91
10  sig_3029648145    Completed   Jul 6, 2022    7062202.0    $425.34
11  sig_3029546532    Completed  Jun 18, 2022    6172201.0    $223.91
12  sig_3029360578    Completed  May 18, 2022    5182201.0    $174.22
13  sig_3029157283    Completed  Apr 14, 2022    4112202.0    $645.02
14  sig_3029140490    Completed  Apr 12, 2022    4122201.0    $645.02
15  sig_3029063595    Completed  Mar 30, 2022    3302203.0    $104.37
16  sig_3028905309    Completed   Mar 7, 2022    3072201.0    $388.93
17  sig_3028517014    Completed   Jan 6, 2022     152202.0     $70.85
18  sig_3028277766    Completed  Nov 17, 2021   11162103.0    $831.99
19  sig_3028120023    Completed  Oct 22, 2021   10222102.0  $1,359.49
20  sig_3027622349    Completed   Aug 3, 2021    8032101.0    $107.36
21  sig_3027370380    Completed  Jun 23, 2021    6232102.0    $853.65

The next thing that I want to do is change the column values to align more with vwr. The VWR data is more the way I want the data to look since I entered all the vwr by hand into a spreadsheet. I am changing the column values for `order_status` from 'Completed' to 'c'. Later on I will change the VWR values to match--the current values for the order status is 'cs' or 'ps' which represent 'completely shipped' and 'partially shipped' respectively.

In [13]:
# Changing column 'order_status' values to 'cs' or 'ps'
sigma['order_status'].replace({'Completed':'cs'}, inplace=True)
sigma

      order_number order_status          date    po_number      total
0   sig_3032198486           cs  Sep 29, 2023  929202301.0    $304.34
1   sig_3031993778           cs  Aug 23, 2023    8232301.0    $142.05
2   sig_3031921970           cs   Aug 9, 2023    8092301.0    $284.58
3   sig_3031054053           cs   Mar 9, 2023  309202301.0    $723.86
4   sig_3031037215           cs   Mar 7, 2023    3072301.0    $221.48
5   sig_3030928639           cs  Feb 16, 2023  316202301.0  $1,045.35
6   sig_3030151533           cs  Sep 28, 2022  928202201.0    $193.92
7   sig_3030040819           cs   Sep 9, 2022    9092203.0    $418.34
8   sig_3030040710           cs   Sep 9, 2022    9092202.0    $460.67
9   sig_3029852827           cs   Aug 9, 2022    8092201.0    $216.91
10  sig_3029648145           cs   Jul 6, 2022    7062202.0    $425.34
11  sig_3029546532           cs  Jun 18, 2022    6172201.0    $223.91
12  sig_3029360578           cs  May 18, 2022    5182201.0    $174.22
13  sig_3029157283           cs  Apr 14, 2022    4112202.0    $645.02
14  sig_3029140490           cs  Apr 12, 2022    4122201.0    $645.02
15  sig_3029063595           cs  Mar 30, 2022    3302203.0    $104.37
16  sig_3028905309           cs   Mar 7, 2022    3072201.0    $388.93
17  sig_3028517014           cs   Jan 6, 2022     152202.0     $70.85
18  sig_3028277766           cs  Nov 17, 2021   11162103.0    $831.99
19  sig_3028120023           cs  Oct 22, 2021   10222102.0  $1,359.49
20  sig_3027622349           cs   Aug 3, 2021    8032101.0    $107.36
21  sig_3027370380           cs  Jun 23, 2021    6232102.0    $853.65

The next operation is to change the date format to match the VWR dataset format

In [14]:
sigma['date'] = pd.to_datetime(sigma['date'], format='%b %d, %Y').dt.strftime('%m/%d/%y')
sigma

      order_number order_status      date    po_number      total
0   sig_3032198486           cs  09/29/23  929202301.0    $304.34
1   sig_3031993778           cs  08/23/23    8232301.0    $142.05
2   sig_3031921970           cs  08/09/23    8092301.0    $284.58
3   sig_3031054053           cs  03/09/23  309202301.0    $723.86
4   sig_3031037215           cs  03/07/23    3072301.0    $221.48
5   sig_3030928639           cs  02/16/23  316202301.0  $1,045.35
6   sig_3030151533           cs  09/28/22  928202201.0    $193.92
7   sig_3030040819           cs  09/09/22    9092203.0    $418.34
8   sig_3030040710           cs  09/09/22    9092202.0    $460.67
9   sig_3029852827           cs  08/09/22    8092201.0    $216.91
10  sig_3029648145           cs  07/06/22    7062202.0    $425.34
11  sig_3029546532           cs  06/18/22    6172201.0    $223.91
12  sig_3029360578           cs  05/18/22    5182201.0    $174.22
13  sig_3029157283           cs  04/14/22    4112202.0    $645.02
14  sig_3029140490           cs  04/12/22    4122201.0    $645.02
15  sig_3029063595           cs  03/30/22    3302203.0    $104.37
16  sig_3028905309           cs  03/07/22    3072201.0    $388.93
17  sig_3028517014           cs  01/06/22     152202.0     $70.85
18  sig_3028277766           cs  11/17/21   11162103.0    $831.99
19  sig_3028120023           cs  10/22/21   10222102.0  $1,359.49
20  sig_3027622349           cs  08/03/21    8032101.0    $107.36
21  sig_3027370380           cs  06/23/21    6232102.0    $853.65

I am changing the column order to align with the order of the VWR dataset.

In [15]:
# Assign the new column order to 'column_order'
column_order = ['date','order_number','po_number','total','order_status']

sigma = sigma[column_order] # Assign 'column_order' to the dataset to make the changes

sigma # View the results

        date    order_number    po_number      total order_status
0   09/29/23  sig_3032198486  929202301.0    $304.34           cs
1   08/23/23  sig_3031993778    8232301.0    $142.05           cs
2   08/09/23  sig_3031921970    8092301.0    $284.58           cs
3   03/09/23  sig_3031054053  309202301.0    $723.86           cs
4   03/07/23  sig_3031037215    3072301.0    $221.48           cs
5   02/16/23  sig_3030928639  316202301.0  $1,045.35           cs
6   09/28/22  sig_3030151533  928202201.0    $193.92           cs
7   09/09/22  sig_3030040819    9092203.0    $418.34           cs
8   09/09/22  sig_3030040710    9092202.0    $460.67           cs
9   08/09/22  sig_3029852827    8092201.0    $216.91           cs
10  07/06/22  sig_3029648145    7062202.0    $425.34           cs
11  06/18/22  sig_3029546532    6172201.0    $223.91           cs
12  05/18/22  sig_3029360578    5182201.0    $174.22           cs
13  04/14/22  sig_3029157283    4112202.0    $645.02           cs
14  04/12/22  sig_3029140490    4122201.0    $645.02           cs
15  03/30/22  sig_3029063595    3302203.0    $104.37           cs
16  03/07/22  sig_3028905309    3072201.0    $388.93           cs
17  01/06/22  sig_3028517014     152202.0     $70.85           cs
18  11/17/21  sig_3028277766   11162103.0    $831.99           cs
19  10/22/21  sig_3028120023   10222102.0  $1,359.49           cs
20  08/03/21  sig_3027622349    8032101.0    $107.36           cs
21  06/23/21  sig_3027370380    6232102.0    $853.65           cs

Now to clean-up the VWR dataset. This should go rather quickly--I just need to add the prefix to the order number; drop a few columns and then I'll be able to merge the two datasets into one final dataset; change the typo from 'data' to 'date'. In the future, I'll be able to add other datasets and, ultimately, use view the info in a csv on excel if need be.

In [16]:
vwr_acronym = 'vwr' # Assign the acronym 'sig' for Sigma

# Assign the acronym as the prefix to 'Order' which is the order number
vwr['order_number'] = vwr_acronym + '_' + vwr['order_number'].astype(str)

In [17]:
# Drop unwanted columns
vwr.drop(['order_method','web_tracking_number'], axis=1, inplace=True)

vwr # Confirm drop

        data    order_number   po_number      total order_status
0   11/21/23  vwr_8368794427  1121202301  $1,635.69           cs
1   09/18/23  vwr_8368438336   918202302  $3,916.88           ps
2   08/18/23  vwr_8368280892   818202301     $95.55           cs
3   08/11/23  vwr_8368237792     8112301    $932.95           cs
4   07/31/23  vwr_8368169335     7312302  $8,439.41           cs
5   07/12/23  vwr_8368060117   712202301    $505.35           cs
6   07/05/23  vwr_8368022926   705202301     $48.49           cs
7   06/12/23  vwr_8367902595     6122301  $4,883.35           cs
8   06/08/23  vwr_8367889305     6082302    $469.45           cs
9   06/01/23  vwr_8367848814   601202302    $587.24           cs
10  06/01/23  vwr_8367848182     6012301    $875.53           cs
11  05/17/23  vwr_8367763523   516202301  $7,407.55           cs
12  02/16/23  vwr_8367253461   316202302    $876.53           cs
13  02/11/23  vwr_8367220040   211202301  $2,133.71           cs
14  02/06/23  vwr_8367179153     2223-01  $2,291.01           cs
15  01/12/23  vwr_8367042441     1122301    $393.80           cs
16  11/08/22  vwr_8366745860    11082201  $6,692.75           cs
17  09/06/22  vwr_8366377470     9062201    $367.95           cs
18  08/17/22  vwr_8366265347     8172201  $2,648.35           cs
19  08/09/22  vwr_8366214622     8092202  $5,860.19           cs
20  07/06/22  vwr_8366021052     7062201    $113.73           cs
21  06/28/22  vwr_8365984753     6282992  $9,855.75           cs
22  06/22/22  vwr_8365947130     6222201    $489.35           cs
23  06/10/22  vwr_8365890912     6102201    $870.33           cs
24  04/14/22  vwr_8365568225     4142201    $385.05           cs
25  03/30/22  vwr_8365474244     3302202  $1,699.94           cs
26  03/07/22  vwr_8365324456     3072202    $365.88           cs
27  03/02/22  vwr_8365303436     3022202    $800.80           cs
28  03/02/22  vwr_8365303288     3022201  $1,440.31           cs
29  02/05/22  vwr_8365148168     2052201    $310.05           cs
30  01/25/22  vwr_8365076486     1252201    $317.07           cs
31  01/05/22  vwr_8364960724      152201    $156.96           cs

In [18]:
# Changing column name
vwr.rename(columns={'data':'date'}, inplace=True)

Now the data is clean enough to merge the two datasets.

In [19]:
df_merge = pd.concat([sigma, vwr], ignore_index=True)

In [20]:
df_merge

        date    order_number    po_number      total order_status
0   09/29/23  sig_3032198486  929202301.0    $304.34           cs
1   08/23/23  sig_3031993778    8232301.0    $142.05           cs
2   08/09/23  sig_3031921970    8092301.0    $284.58           cs
3   03/09/23  sig_3031054053  309202301.0    $723.86           cs
4   03/07/23  sig_3031037215    3072301.0    $221.48           cs
5   02/16/23  sig_3030928639  316202301.0  $1,045.35           cs
6   09/28/22  sig_3030151533  928202201.0    $193.92           cs
7   09/09/22  sig_3030040819    9092203.0    $418.34           cs
8   09/09/22  sig_3030040710    9092202.0    $460.67           cs
9   08/09/22  sig_3029852827    8092201.0    $216.91           cs
10  07/06/22  sig_3029648145    7062202.0    $425.34           cs
11  06/18/22  sig_3029546532    6172201.0    $223.91           cs
12  05/18/22  sig_3029360578    5182201.0    $174.22           cs
13  04/14/22  sig_3029157283    4112202.0    $645.02           cs
14  04/12/22  sig_3029140490    4122201.0    $645.02           cs
15  03/30/22  sig_3029063595    3302203.0    $104.37           cs
16  03/07/22  sig_3028905309    3072201.0    $388.93           cs
17  01/06/22  sig_3028517014     152202.0     $70.85           cs
18  11/17/21  sig_3028277766   11162103.0    $831.99           cs
19  10/22/21  sig_3028120023   10222102.0  $1,359.49           cs
20  08/03/21  sig_3027622349    8032101.0    $107.36           cs
21  06/23/21  sig_3027370380    6232102.0    $853.65           cs
22  11/21/23  vwr_8368794427   1121202301  $1,635.69           cs
23  09/18/23  vwr_8368438336    918202302  $3,916.88           ps
24  08/18/23  vwr_8368280892    818202301     $95.55           cs
25  08/11/23  vwr_8368237792      8112301    $932.95           cs
26  07/31/23  vwr_8368169335      7312302  $8,439.41           cs
27  07/12/23  vwr_8368060117    712202301    $505.35           cs
28  07/05/23  vwr_8368022926    705202301     $48.49           cs
29  06/12/23  vwr_8367902595      6122301  $4,883.35           cs
30  06/08/23  vwr_8367889305      6082302    $469.45           cs
31  06/01/23  vwr_8367848814    601202302    $587.24           cs
32  06/01/23  vwr_8367848182      6012301    $875.53           cs
33  05/17/23  vwr_8367763523    516202301  $7,407.55           cs
34  02/16/23  vwr_8367253461    316202302    $876.53           cs
35  02/11/23  vwr_8367220040    211202301  $2,133.71           cs
36  02/06/23  vwr_8367179153      2223-01  $2,291.01           cs
37  01/12/23  vwr_8367042441      1122301    $393.80           cs
38  11/08/22  vwr_8366745860     11082201  $6,692.75           cs
39  09/06/22  vwr_8366377470      9062201    $367.95           cs
40  08/17/22  vwr_8366265347      8172201  $2,648.35           cs
41  08/09/22  vwr_8366214622      8092202  $5,860.19           cs
42  07/06/22  vwr_8366021052      7062201    $113.73           cs
43  06/28/22  vwr_8365984753      6282992  $9,855.75           cs
44  06/22/22  vwr_8365947130      6222201    $489.35           cs
45  06/10/22  vwr_8365890912      6102201    $870.33           cs
46  04/14/22  vwr_8365568225      4142201    $385.05           cs
47  03/30/22  vwr_8365474244      3302202  $1,699.94           cs
48  03/07/22  vwr_8365324456      3072202    $365.88           cs
49  03/02/22  vwr_8365303436      3022202    $800.80           cs
50  03/02/22  vwr_8365303288      3022201  $1,440.31           cs
51  02/05/22  vwr_8365148168      2052201    $310.05           cs
52  01/25/22  vwr_8365076486      1252201    $317.07           cs
53  01/05/22  vwr_8364960724       152201    $156.96           cs